*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}
body{
    width:100%;
    position: relative;
    background-color:#152238;
}
img{
    max-width: 100%;
}

.Header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1c2e4a ;
    background: rgba(28, 46, 74, 0.85);
    box-shadow: 0px 4px 4px rgba(23, 20, 20, 0.25);
    min-height: 129px;

}

.HeaderTitle{
    font-family: 'Poppins';
    font-size:40px;
    color:white;

}
.GenderSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    flex-direction: column;
}
  
h1{
    font-family: 'Poppins';
    font-size: 33px;
    color:white;
    font-weight: 400;
}
.FemaleHeader, .MaleHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}


.FemaleBtn, .MaleBtn{
    
    background-color: #1B2C47;
    width:183.39px;
    height:176.06px;
    display: flex;
    border:none;
    justify-content: center;
    border-radius: 10px;
    align-items: center;

}

.MaleBtn{
    margin-left: 13px;
}

.FemaleBtn:hover, .MaleBtn:hover, .FemaleBtn label:hover, .MaleBtn label:hover{
    background-color: #294572;
    cursor:pointer;
}

.GenderHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.MaleHeader{
    margin-left: 90px;
}

.Select-Gender{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.Select-Gender input[type="radio"]{
    opacity:0;
    width: 0;

}


.Select-Gender:checked{
    background-color:#294572;
}

.Select-Gender input[type="radio"]:checked + label {
    background-color:#294572;
    width:183.39px;
    height:176.06px;
    display: flex;
    border:none;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    
}

.BMISection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.HeightSection, .WeightSection{
    width:381px;
    height: 150px;
    background-color: #1B2C47;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}
.HeightSection{
    margin-top: 29px;
}
.WeightSection{
    margin-top: 18px;
}
h2{
    font-family: 'Poppins';
    margin-top:10px;
    color:white;
    font-weight: 300;
    display: flex;
    margin-bottom: 20px;

}



#HeightBMI, #WeightBMI{
    width:350px;
    text-align: center;
    height:50px;
    font-size: 40px;
    color:white;
    outline: none;
    border-color: inherit;
    background-color: #1B2C47;
    border:none;
}
::placeholder{
    color:white;
    opacity:1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.ResultSection{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.BMIRange{
    font-size:20px;
    font-family: 'Poppins';
}

.BMIResult{
    font-size:30px;
    font-family: 'Poppins';
    margin-top: 15px;
    color:white;
    margin-bottom: 10px;
}
.BMIResultBtn{
    width: 379px;
    height:81px;
    background-color: #4240A8;
    font-size: 40px;
    font-family: 'Poppins';
    color:white;
    font-weight: 400;
    border:none;
    text-decoration: none;
    border-radius: 15px;
}

.BMIResultBtn:hover{
    cursor: pointer;
    background-color: #5F5CE9;
    transition-duration: 1s;
}